<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrainzBasemapMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrainzBasemapMaker.Properties.Settings>
            <setting name="AutoCounterNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoKuidNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultKuidFirstPart" serializeAs="String">
                <value>0</value>
            </setting>
        </TrainzBasemapMaker.Properties.Settings>
    </userSettings>
</configuration>